/* 
 * This CSS file contains styles for the webpage layout and design.
 * 
 * 
 * Ensure to follow the naming conventions and keep the styles organized.
 */


/* General body styling */
body {
    font-family: Comic Sans MS, Comic Sans;
    margin: 0;
    padding: 0;
    background-image: url('assets/background.jpg');
    background-color: #000000;
    background-size:  cover;
    background-repeat: no-repeat;
    text-align: center;
}

/* Header styling */
header {
    background-color: #333;
    color: #000000;
    padding: 10px 0;
    text-align: center;
}

/* Title Rectangle */
.rectangle-title {
    width: 700px;
    height: 150px;
    background-color: #3C3838;
    border: 1px solid #000;
    display: block;
    margin-left: auto; /* centers rectangle to middle */
    margin-right: auto; /* centers rectangle to middle */
    margin-top: 125px; /* moves rectangle downwards */
    border-radius: 45px;
}

/* Title Text */
.title-text {
    font-size: 50px;
    color: #DC7F28;
    font-weight: bold;
    display: block;
    margin-right: 100px;
    margin-top: 34px;
    text-shadow: 3px 3px 3px black;
}

/* Title Jack-O-Lantern */
.jackolantern {
    width: 72px;
    height: 75px;
    display: block;
    margin-left: 600px;
    margin-top: -110px;
}

/* Rectangle for Buttons */
.rectangle-button {
    width: 500px;
    height: 200px;
    background-color: #3C3838;
    border: 1px solid #000;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    border-radius: 45px;
}

/* Leaderboard Button */
.leaderboard-button {
    background-color: #DC7F28;
    width: 180px;
    height: 100px;
    display: block;
    margin-left: 50px;
    margin-top: 50px;
    border: 1px solid #000;
    border-radius: 35px;
    cursor: pointer;
    font-size: 20px;
    color: white;
    font-family: Comic Sans MS, Comic Sans, cursive;
    text-shadow: 3px 3px 3px black;
    transition: background-color 0.3s;
}

/* Leaderboard Button Hover */
.leaderboard-button:hover {
    background-color: #da8b41;
}

/* Leaderboard Button Active */
.leaderboard-button:active {
    background-color: #dd9755;
}

/* Start Button */
.start-button {
    background-color: #DC7F28;
    width: 180px;
    height: 100px;
    display: block;
    margin-left: 270px;
    margin-top: -100px;
    border: 1px solid #000;
    border-radius: 35px;
    cursor: pointer;
    font-size: 20px;
    color: white;
    font-family: Comic Sans MS, Comic Sans;
    text-shadow: 3px 3px 3px black;
    transition: background-color 0.3s;
}

/* Start Button Hover */
.start-button:hover {
    background-color: #da8b41;
}

/* Start Button Active */
.start-button:active {
    background-color: #dd9755;
}